streamlit
pandas
seaborn
matplotlib
scikit-learn
joblib
requests
python-dotenv
openai
langchain==0.1.16
langchain-community
langchain-google-genai
langchain-chroma
streamlit-lottie
faiss-cpu
tiktoken
