streamlit
pandas
seaborn
matplotlib
scikit-learn
joblib
requests
python-dotenv
openai
langchain
langchain-community
langchain-openai==0.1.0
langchain-google-genai
langchain-chroma
streamlit-lottie
faiss-cpu
tiktoken
pydantic==1.10.13